// varialbles
$color-principal: rgb(128, 171, 196);
$color-fondo: black;
$color-fondo2: rgb(162, 198, 207);
$color-fondo3: transparent;
$color-fondo4: rgb(227, 227, 248);
$color-fondo5: rgb(248, 248, 184);
$color-hover: rgb(25, 248, 155);
$tipo-de-letra:'Creepster', cursive;
$tipo-de-letra-secundario:'Orbitron', sans-serif;
$tamano-de-fuente-grande: 30px;
$tamano-de-fuente-mediano: 25px;
$tamano-de-fuente-chico: 20px;
$tamano-de-fuente-mas-chico: 15px;
$alto-imagen-nombre: 90px;
$largo-imagen-nombre: 200px;