

// varialbles
$color-principal: rgb(115, 115, 173);
$color-fondo: black;
$color-fondo2: rgb(140, 140, 172);
$color-fondo3: transparent;
$color-fondo4: rgb(227, 227, 248);
$color-fondo5: rgb(248, 248, 184);
$tipo-de-letra:'Creepster', cursive;
$alto-imagen-nombre: 90px;
$largo-imagen-nombre: 200px;


body{
    margin: 0px;
    background-color: $color-fondo2;
}

@mixin flex ($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin button ($color) {
    background-color: $color;
    color: $color-fondo;
    width: 120px;
    height: 35px;
    margin: 0px 30px;   
    font-family: $tipo-de-letra;
    font-size: 25px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px $color-principal;
    cursor: pointer;
}

.seccion-header{
    display: flex;
    flex-direction: column;
}
.imagen-header{
    @include flex($direction:column);
    background-color: $color-fondo;
    padding-top: 50px;
}

.nombre-imagen{
     width: $largo-imagen-nombre;
     height: $alto-imagen-nombre;
     background-color: $color-fondo3;
     position: fixed;
     top: 45px;
}
.imagen-header-fondo{
    width: 90%;
    height: 480px;
    border-radius: 20px;
}

.barra-de-navegacion{
    background-color: $color-fondo;
    height: 100px;
    @include flex($direction:row)
}

// botones
.barra-de-navegacion button{
    @include button($color-principal)
}

//seccion barra de busqueda

//botones

.barra-de-navegacion-busqueda button{
    @include button($color-principal);
}

//botones paginado

.botones-paginado{
    margin: 30px 0px;
}
.boton-prev,
.boton-next{
    @include button($color-fondo5);
    font-size: 20px;
}
.desabilitado{
    background-color:rgb(248, 248, 238);
    color: rgb(82, 81, 81);
    cursor: auto
}

// seccion nav

.seccion-busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombre-imagen-busqueda{
     width: $largo-imagen-nombre;
     height: $alto-imagen-nombre;
     background-color: $color-fondo3;
     padding-left: 20px;
}
.barra-de-navegacion-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: $color-fondo;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 10px 10px -6px black;
}


// secciones

#busqueda-input{
    border: solid 2px $color-principal;
    border-radius: 10px;
    height: 20px;
    width: 280px;
}
.seccion-character,
.seccion-location,
.seccion-episode{
    @include flex($direction:column)
}
.form-character,
.form-location,
.form-episode{
    @include flex($direction:row);
    height: 80px;
    width: 500px;
    border:solid 2px $color-fondo;
    border-radius: 20px;
    margin-top: 30px;
}
label {
    font-family: $tipo-de-letra;
    font-size: 25px;
    margin-right: 15px; 
}
.div-imagen-busqueda{
    width: 50px;
    height: 50px;
    background-color: $color-fondo3;
}
.imagen-busqueda{
    width: 100%;
    height: 100%;
    background-color: $color-fondo3;
    margin-left: 15px;
}

// seccion character/personajes - Tarjetas

.tarjetas-personajes,
.tarjetas-locacion,
.tarjetas-episodios{
    @include flex($direction:row);
    flex-wrap: wrap;
    margin-top: 20px;
}
.html-tarjetas{
    text-align: center;
    border: solid 5px $color-fondo;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0px 10px 10px -6px black;
p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
}
.personajes{
    @include flex($direction:column);
}
.episodios,
.locacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 300px;
    background-color: $color-fondo4;
img{
    width: 350px;
    height: 150px;
    margin: 0;
}
h2{
    margin: 5px 0px;
}
}
.locacion{
img{
    width: 350px;
    height: 150px;
    margin: 0;
}
h2{
    margin: 5px 0px;
}
}

h2{
    font-family: $tipo-de-letra;
    font-size: 30px;
} 
.episodio-id,
.episodio-date {
    display: flex;
    justify-content: space-between;
    
}

// seccion tarjetes de detalle de cada personaje

.detalle-personaje{
    @include flex($direction:row)
}
.tarjeta-detalle-personaje{
    @include flex($direction:row);
    margin-top: 80px;
}
.div-principal{
    @include flex($direction:column);
    border:solid 8px $color-fondo;
    border-radius: 20px;
    margin-right: 80px;
}
.div-info{
p{
    font-family: $tipo-de-letra;
    font-size: 20px;
}
}



