@import "variables";
@import "tarjetas";
@import "botones";
@import "mediascreen";

body{
    margin: 0px;
    background-color: $color-fondo2;
}
@mixin flex ($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
.seccion-header{
    display: flex;
    flex-direction: column;
}
.imagen-header{
    @include flex($direction:column);
    background-color: $color-fondo;
    padding-top: 50px;
}
.nombre-imagen{
     width: $largo-imagen-nombre;
     height: $alto-imagen-nombre;
     background-color: $color-fondo3;
     position: fixed;
     top: 45px;
}
.imagen-header-fondo{
    width: 90%;
    height: 480px;
    border-radius: 20px;
}
.barra-de-navegacion{
    background-color: $color-fondo;
    height: 100px;
    @include flex($direction:row)
}

// seccion nav
.seccion-busqueda{
    @include flex($direction:row);
}
.nombre-imagen-busqueda{
     width: $largo-imagen-nombre;
     height: $alto-imagen-nombre;
     padding-left: 20px;
     cursor: pointer;
}
.barra-de-navegacion-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: $color-fondo;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 10px 10px -6px $color-fondo;
}
// Seccion busqueda - Formularios
.seccion-character,
.seccion-location,
.seccion-episode{
    @include flex($direction:column)
}
.form-character,
.form-location,
.form-episode{
    @include flex($direction:row);
    height: 80px;
    width: 500px;
    border:solid 3px $color-fondo;
    border-radius: 20px;
    margin-top: 30px;
    background-color: $color-principal
}
label {
    font-family: $tipo-de-letra;
    font-size: $tamano-de-fuente-mediano;
    margin-right: 15px; 
}
input{
    border: solid 2px $color-principal;
    border-radius: 10px;
    height: 20px;
    width: 280px;
    background-color: $color-fondo4;
    outline: none;
}
.div-imagen-busqueda{
    width: 50px;
    height: 50px;
    background-color: $color-fondo3;
}
.imagen-busqueda{
    width: 100%;
    height: 100%;
    background-color: $color-fondo3;
    margin-left: 15px;
}

input:hover{
    border-color: $color-hover;
}
input:active{
    border-color: $color-hover;
    box-shadow: 0px 10px 10px -6px $color-hover;
}
input:focus{
    border-color: $color-hover;
}

