.tarjetas-personajes,
.tarjetas-locacion,
.tarjetas-episodios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.html-tarjetas {
  text-align: center;
  border: solid 8px black;
  border-radius: 8px;
  margin: 15px;
  box-shadow: 0px 10px 10px -6px black;
  overflow: hidden;
}
.html-tarjetas p {
  font-family: "Orbitron", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.personajes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e3e3f8;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.episodios,
.locacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 300px;
  background-color: #e3e3f8;
}
.episodios img,
.locacion img {
  width: 350px;
  height: 150px;
  margin: 0;
}
.episodios h2,
.locacion h2 {
  margin: 5px 0px;
}

.locacion img {
  width: 350px;
  height: 150px;
  margin: 0;
}
.locacion h2 {
  margin: 5px 0px;
}

h2 {
  font-family: "Creepster", cursive;
  font-size: 30px;
}

.episodio-id,
.episodio-date {
  display: flex;
  justify-content: space-between;
}

.detalle-personaje {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tarjeta-detalle-personaje {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.div-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 8px black;
  border-radius: 20px;
  margin-right: 80px;
  background-color: #e3e3f8;
  overflow: hidden;
}

.div-info p {
  font-family: "Creepster", cursive;
  font-size: 20px;
}

.personajes:hover {
  transform: scale(1.1);
}

.personajes:active {
  box-shadow: 15px 15px 10px -6px #19f89b;
}

.barra-de-navegacion button {
  background-color: #80abc4;
  color: black;
  width: 120px;
  height: 35px;
  margin: 0px 30px;
  font-family: "Creepster", cursive;
  font-size: 25px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px #80abc4;
  cursor: pointer;
}

.barra-de-navegacion-busqueda button {
  background-color: #80abc4;
  color: black;
  width: 120px;
  height: 35px;
  margin: 0px 30px;
  font-family: "Creepster", cursive;
  font-size: 25px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px #80abc4;
  cursor: pointer;
}

.botones-paginado {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.boton-prev,
.boton-next {
  background-color: #f8f8b8;
  color: black;
  width: 120px;
  height: 35px;
  margin: 0px 30px;
  font-family: "Creepster", cursive;
  font-size: 25px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px #80abc4;
  cursor: pointer;
  font-size: 20px;
}

.desabilitado {
  background-color: #f8f8ee;
  color: #525151;
  cursor: auto;
}

.div-boton-back {
  margin-top: 80px;
}
.div-boton-back button {
  background-color: #f8f8b8;
  color: black;
  width: 120px;
  height: 35px;
  margin: 0px 30px;
  font-family: "Creepster", cursive;
  font-size: 25px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px #80abc4;
  cursor: pointer;
  font-size: 20px;
}

.menu-mobile {
  display: none;
}
.menu-mobile .botones-mobile {
  display: none;
  flex-direction: column;
}
.menu-mobile .boton-hamburguesa {
  color: black;
  width: 50px;
}

button:hover {
  background-color: #19f89b;
  box-shadow: 0px 10px 10px -6px #19f89b;
}

button:focus {
  outline: none;
  background-color: #19f89b;
  box-shadow: 0px 10px 10px -6px #19f89b;
}

@media screen and (max-width: 875px) and (min-width: 320px) {
  .menu-mobile {
    display: flex;
  }

  .botones-busqueda {
    display: none;
    flex-direction: column;
  }
  .botones-busqueda button {
    width: 70px;
    height: 20px;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .barra-de-navegacion-busqueda {
    height: 100px;
  }
}
@media screen and (max-width: 630px) and (min-width: 320px) {
  .tarjeta-detalle-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .div-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div-principal {
    margin-right: 0px;
  }
}
@media screen and (max-width: 550px) and (min-width: 320px) {
  .barra-de-navegacion {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .barra-de-navegacion button {
    margin-bottom: 10px;
  }

  .form-character,
.form-location,
.form-episode {
    width: 400px;
  }

  input {
    width: 170px;
  }
}
@media screen and (max-width: 450px) and (min-width: 320px) {
  .imagen-header-fondo {
    width: 90%;
    height: 400px;
  }

  .form-character,
.form-location,
.form-episode {
    width: 320px;
  }

  .div-imagen-busqueda {
    display: none;
  }
}
@media screen and (max-width: 400px) and (min-width: 320px) {
  .botones-busqueda button {
    margin-right: 20px;
    margin-left: 0px;
  }

  .episodios,
.locacion {
    width: 280px;
    height: 230px;
  }
  .episodios img,
.locacion img {
    width: 280px;
    height: 100px;
  }

  .div-principal {
    width: 180px;
    height: 200px;
  }

  .div-principal img {
    width: 180px;
    height: 130px;
  }

  .div-principal h2 {
    font-size: 25px;
  }

  .div-info p {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) and (min-width: 320px) {
  .imagen-header-fondo {
    width: 90%;
    height: 370px;
  }

  .nombre-imagen-busqueda {
    width: 150px;
    height: 70px;
  }

  .form-character,
.form-location,
.form-episode {
    width: 280px;
  }

  .personajes {
    width: 180px;
    height: 200px;
  }

  .imagen-personaje {
    width: 180px;
    height: 130px;
  }

  h2 {
    font-size: 25px;
  }
}
body {
  margin: 0px;
  background-color: #a2c6cf;
}

.seccion-header {
  display: flex;
  flex-direction: column;
}

.imagen-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 50px;
}

.nombre-imagen {
  width: 200px;
  height: 90px;
  background-color: transparent;
  position: fixed;
  top: 45px;
}

.imagen-header-fondo {
  width: 90%;
  height: 480px;
  border-radius: 20px;
}

.barra-de-navegacion {
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.seccion-busqueda {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nombre-imagen-busqueda {
  width: 200px;
  height: 90px;
  padding-left: 20px;
  cursor: pointer;
}

.barra-de-navegacion-busqueda {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: black;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 10px 10px -6px black;
}

.seccion-character,
.seccion-location,
.seccion-episode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-character,
.form-location,
.form-episode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 500px;
  border: solid 3px black;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #80abc4;
}

label {
  font-family: "Creepster", cursive;
  font-size: 25px;
  margin-right: 15px;
}

input {
  border: solid 2px #80abc4;
  border-radius: 10px;
  height: 20px;
  width: 280px;
  background-color: #e3e3f8;
  outline: none;
}

.div-imagen-busqueda {
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.imagen-busqueda {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-left: 15px;
}

input:hover {
  border-color: #19f89b;
}

input:active {
  border-color: #19f89b;
  box-shadow: 0px 10px 10px -6px #19f89b;
}

input:focus {
  border-color: #19f89b;
}

@media screen and (max-width: 875px) and (min-width: 320px) {
  .menu-mobile {
    display: flex;
  }

  .botones-busqueda {
    display: none;
    flex-direction: column;
  }
  .botones-busqueda button {
    width: 70px;
    height: 20px;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .barra-de-navegacion-busqueda {
    height: 100px;
  }
}
@media screen and (max-width: 630px) and (min-width: 320px) {
  .tarjeta-detalle-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .div-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div-principal {
    margin-right: 0px;
  }
}
@media screen and (max-width: 550px) and (min-width: 320px) {
  .barra-de-navegacion {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .barra-de-navegacion button {
    margin-bottom: 10px;
  }

  .form-character,
.form-location,
.form-episode {
    width: 400px;
  }

  input {
    width: 170px;
  }
}
@media screen and (max-width: 450px) and (min-width: 320px) {
  .imagen-header-fondo {
    width: 90%;
    height: 400px;
  }

  .form-character,
.form-location,
.form-episode {
    width: 320px;
  }

  .div-imagen-busqueda {
    display: none;
  }
}
@media screen and (max-width: 400px) and (min-width: 320px) {
  .botones-busqueda button {
    margin-right: 20px;
    margin-left: 0px;
  }

  .episodios,
.locacion {
    width: 280px;
    height: 230px;
  }
  .episodios img,
.locacion img {
    width: 280px;
    height: 100px;
  }

  .div-principal {
    width: 180px;
    height: 200px;
  }

  .div-principal img {
    width: 180px;
    height: 130px;
  }

  .div-principal h2 {
    font-size: 25px;
  }

  .div-info p {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) and (min-width: 320px) {
  .imagen-header-fondo {
    width: 90%;
    height: 370px;
  }

  .nombre-imagen-busqueda {
    width: 150px;
    height: 70px;
  }

  .form-character,
.form-location,
.form-episode {
    width: 280px;
  }

  .personajes {
    width: 180px;
    height: 200px;
  }

  .imagen-personaje {
    width: 180px;
    height: 130px;
  }

  h2 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
